.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
*~
.idea/
.vscode/
*.swp
*.swo
*.iml
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
*.bak
*.tmp
*.log
.github/
tmp/